/* // cannot be used as comment */
body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}
 
#panel {
  border-style: solid none none solid;
  text-align: center; /* set middle on Y-axis */
  margin: auto;
}

.cell { 
  border-style: none solid solid none;
  width: 33%;
}

#button { 
  text-align: center
}

/* winning cells style */
.winningCell {
  background-color: #f88;
}

.changeClass {
  color: red;
  border-style: solid;
}
